body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
  margin: 0;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.current {
  color: #2196f3;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
}

.team-social__link,
.footer-social__link,
.contact__link,
.clients__link,
.checkbox-field__text,
.checkbox-field,
.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-btn,
.modal-button,
.subscribtion-button {
  cursor: pointer;
  text-align: center;
  font-family: inherit;
}

.hero-button {
  cursor: pointer;
  font-family: inherit;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.map-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribtion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 31px;
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.subscribtion-button:hover,
.subscribtion-button:focus {
  background-color: #2196f3;
}

.icon-send {
  fill: currentColor;
  margin-left: 10px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.modal-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  background-color: #188ce8;
  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-button {
    padding: 10px 32px;
  }
}

.header__logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: Raleway;
  text-decoration: none;
  display: block;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: Raleway;
  text-decoration: none;
  display: block;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo__part {
  color: #2196f3;
}

.footer__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway;
  text-decoration: none;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.footer-logo__part {
  color: #ffffff;
}

.contact-address {
  font-style: normal;
}

.page-footer__contact-address {
  font-style: normal;
  margin-top: 20px;
}

.map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.map-link:hover,
.map-link:focus {
  color: #2196f3;
}

.address__contact {
  font-style: normal;
  margin-top: 20px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

@media screen and (min-width: 1200px) {
  .subscribtion {
    margin-left: auto;
  }
}

.subscribtion__title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribtion__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribtion {
    display: flex;
  }
}

.subscribtion-input {
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
  .subscribtion-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribtion-input {
    margin: 0 12px 0 0;
    width: 358px;
  }
}

.modal {
  position: absolute;
  width: calc(100% - 30px);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: calc(100% - 30px);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  color: #2196f3;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover,
.modal__close:focus {
  fill: currentColor;
  border: 1px solid #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal__form {
  display: block;
}

.form-field {
  margin-bottom: 10px;
}

.comment-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-field__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-wrapper {
  position: relative;
}

.form-wrapper__input {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  width: 100%;
  font-size: 14px;
  color: #2196f3;
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
}

.form-wrapper__input:hover,
.form-wrapper__input:focus {
  outline: 0;
  border: 1px solid #2196f3;
}

.comment-field__message {
  width: 100%;
  height: 120px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  color: #2196f3;
}

.comment-field__message:hover,
.comment-field__message:focus {
  outline: 0;
  border: 1px solid #2196f3;
}

.comment-field__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  vertical-align: top;
}

.comment-field__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  vertical-align: top;
}

.comment-field__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  vertical-align: top;
}

.checkbox-field {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
  justify-content: center;
}

.checkbox-field__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-field__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox-field__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.checkbox-field__text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 7px;
  display: block;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field__input:checked:focus+.checkbox-field__text::before {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: cover;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.agreement {
  margin-left: 5px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.form-wrapper__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
}

.form-wrapper__input:hover+.form-wrapper__icon,
.form-wrapper__input:focus+.form-wrapper__icon {
  fill: #2196f3;
}

.clients__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.clients__item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__icon:hover,
.clients__icon:focus {
  color: #2196f3;
}

.navigation-contact {
  display: none;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .navigation-contact {
    margin-top: 0;
    margin-left: auto;
    display: block;
  }
}

.contact-nav-list {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .contact-nav-list {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav-list {
    flex-direction: row;
    align-items: center;
  }
}

.contact-nav-list a:hover,
.contact-nav-list a:focus {
  color: #2196f3;
}

.contact-nav__item {
  display: flex;
}

.contact-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contact__icon {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact__icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
  }
}

.contact__icon:hover {
  fill: #2196f3;
}

.contact__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.02em;
    padding: 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon--mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon--phone {
    width: 10px;
    height: 14px;
  }
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -8px;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 32px;
  }
}

.filters__item {
  margin-top: 8px;
  margin-left: 8px;
}

.filters-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
  }
}

.footer__list {
  display: block;
}

.footer__contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:hover,
.footer__contacts:focus {
  color: #2196f3;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: #2196f3;
}

.footer__item:not(:first-child) {
  margin-top: 9px;
}

.header__portfolio {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 15px 0 15px;
  }
}

.hero {
  background-color: #2f303a;
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero@2x.jpg);
  }
}

.hero__tittle {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30px;
  width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__tittle {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
  }
}

.navigation__list a:hover,
.navigation__list a:focus {
  color: #2196f3;
}

.navigation__list .link-current {
  color: #2196f3;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.navigation__item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation__item a {
    padding: 32px 0;
  }
}

.navigation__item a:hover,
.navigation__item a:focus {
  color: #2196f3;
}

.navigation__item alink-current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation__item a::after {
    display: none;
  }
}

.navigation__list .link-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.project {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .project {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.project__item {
  background: #ffffff;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.project__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  flex-grow: 1;
  padding: 20px 24px;
  border-top: none;
  border: 1px solid #eeeeee;
}

.project__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.project__type {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.project__wrapper {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 77px 24px;
}

@media screen and (min-width: 768px) {
  .project__overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__overlay {
    padding: 63px 24px;
  }
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin: 60px auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 0, auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-right: auto;
  }
}

.footer-social__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: left;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  fill: currentColor;
}

.social-icon {
  fill: currentColor;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team_photo {
  width: 100%;
}

.team__wrapper {
  text-align: center;
  padding: 30px 0;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team__position {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.features-section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding: 94px 0 47px 0;
  }
}

@media screen and (min-width: 768px) {
  .features {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.features-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features-item__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-item__icon {
  align-items: center;
}

.features-item__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-item__title {
    text-align: left;
  }
}

.features-item__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
    padding: 47px 0 94px 0;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
}

.about__list {
  display: flex;
  margin: -15px;
}

.about__item {
  position: relative;
  align-items: center;
  margin: 15px;
}

.about__thumb {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}

.about__overlay {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-social__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-social__item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
}

.team-social__item+.team-social__item {
  margin-left: 10px;
}

.team-social__link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-social__icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-contacts {
  margin-top: auto;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu .content {
  height: 100%;
}

.mobile-navigation__item {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-navigation__item:hover,
.mobile-navigation__item:focus {
  color: #2196f3;
}

.mobile-navigation__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: currentColor;
}

.mobile-navigation__link:hover,
.mobile-navigation__link:focus {
  color: #2196f3;
}

.mobile-navigation__link--current {
  color: #2196f3;
}

.mobile-social {
  display: flex;
}

.mobile-social__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-social__item::after {
  content: "";
  transform: rotate(90deg);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 4px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-social__item:last-child::after {
  border: none;
}

.mobile-social__link {
  color: #2196f3;
  text-decoration: none;
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle .icon-close {
  display: block;
  width: 40px;
}

.menu-toggle.is-open .icon-close {
  display: none;
}

.menu-toggle.is-open .icon-menu {
  display: block;
}

.contact-list {
  margin-bottom: 64px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: #2196f3;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-list__icon {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon:hover {
  fill: #2196f3;
}

.contact-list__link--big {
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contact__link--accent {
  color: #2196f3;
}

.contact-list__link--medium {
  text-decoration: none;
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*# sourceMappingURL=main.css.map */