.contact-address {
    font-style: normal;
}
.page-footer__contact-address {
    font-style: normal;
    margin-top: 20px;
}
.map-link {
    @include halffont (14px, 1.71, 0.03em);
    color: $primary-color;
    text-decoration: none;
    @extend %transition;
    &:hover,
    &:focus {
            color: $accent-color;
        }
}

.address__contact {
    font-style: normal;
    margin-top: 20px;
}