.primary-button--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-btn {
    @include font (16px, 700, 1.87, 0.06em);
    margin: 0 auto;
    min-width: 200px;
    padding: 10px 31px;
    @extend %buttons;
    color: $primary-color;
    background-color: $hero-button-background-color;
    box-shadow: 0px 4px 4px rgba($secondary-color, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.icon-send {
    fill: currentColor;
    margin-left: 10px;
}

.modal-btn {
    display: block;
    margin: 0 auto;
    @extend %buttons;
    @include font (16px, 700, 1.88, 0.06em);
    padding: 10px 52px;
    background-color: $accent-color;
    color: $primary-color;
    border-radius: 4px;
    border: none;

    &:hover {
        background-color: $hero-button-background-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.hero-btn {
    @include font (16px, 700, 1.88, 0.06em);
    @extend %half-buttons;
    padding: 10px 24px;
    background-color: $hero-button-background-color;
    color: $primary-color;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $primary-color;
    }

    @media screen and (min-width:$desktop) {
        padding: 10px 32px;
    }

}