.clients__name {
    @include font (28px, 700, 1.17, 0.03em);
    text-align: center;
    color: $title-color;
    margin-bottom: 50px;

    @media screen and (min-width:$desktop) {
            @include font (36px, 700, 1.16, 0.03em);
        }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;

    @media screen and (min-width:$desktop) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
}

.clients__item {
    margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
    
        @media screen and (min-width:$tablet) {
            flex-basis: calc((100% - 3 * 30px) / 3);
        }
    
        @media screen and (min-width:$desktop) {
            flex-basis: calc((100% - 6 * 30px) / 6);
        }
}

.clients__logo {
    @extend %flex;
    min-height: 92px;
    border: 1px solid $our-clients-logo-color;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: center;
    color: $our-clients-logo-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
        color: $accent-color;
        border: 1px solid $accent-color;
    }
}

.clients__icon {
    @include sizes (106px, 60px);
    fill: currentColor;
&:hover,
&:focus {
        color: $accent-color;
    }
}

