.features-section {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0 47px 0;
  }
}

.features {
  @media screen and (min-width: $tablet) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.features-item {
  @include font(14px, 400, 1.71, 0.03em);
  color: $foreground-color2;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features-item__wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: $background-color2;
  border-radius: 4px;
}

.features-item__icon {
  align-items: center;
}

.features-item__title {
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: $foreground-color1;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.features-item__description {
  @include halffont(14px, 1.71, 0.03em);
  color: $foreground-color2;
}
