.header__logo {
  @include font(26px, 700, 1.2, 0.03em);
  font-family: Raleway;
  text-decoration: none;
  display: block;
  // padding: 25px 0;
}

.logo {
  @include font(26px, 700, 1.2, 0.03em);
  font-family: Raleway;
  text-decoration: none;
  display: block;
  color: $brand-color;

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}
.logo__part {
  color: $brand-color;
}

.footer__logo {
  @include font(24px, 700, 1.17, 0.03em);
  font-family: Raleway;
  text-decoration: none;
  color: $brand-color;

  @media screen and (min-width: $desktop) {
    @include font(26px, 700, 1.2, 0.03em);
  }
}

.footer-logo__part {
  color: $background-color1;
}
