.menu-toggle {
    position: absolute;
    top: 20px;
    right: 15px;
    border: none;
    background-color: transparent;

    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.menu-toggle .icon-close {
    display: block;
    width: 40px;
}

.menu-toggle.is-open .icon-close {
    display: none;
}

.menu-toggle.is-open .icon-menu {
    display: block;
}