.contact-list {
  margin-bottom: 64px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  @include font(12px, 500, 1.16, 0.02em);
  color: $foreground-color2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-list__icon {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $brand-color;
  }
}

.contact-list__link--big {
  text-decoration: none;
  @include font(34px, 500, 1.17, 0.02em);
}

.contact__link--accent {
  color: $brand-color;
}

.contact-list__link--medium {
  text-decoration: none;
  color: $foreground-color2;
  @include font(24px, 500, 1.17, 0.02em);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
