.navigation {
    @media screen and (max-width:767px) {
            display: none;
        }
}
.navigation__list {
@media screen and (min-width:$tablet) {
        display: flex;
        margin-left: 88px;
        align-items: center;
    }

         @media screen and (min-width:$desktop) {
             margin-left: 93px;
         }
& a:hover,
& a:focus {
   color: $accent-color;
    }
}


.navigation__list .link-current {
    color: $accent-color;
}

.navigation__item {
    &:not(:last-child) {
            margin-bottom: 32px;
        }
    
        @media screen and (min-width:$tablet) {
            &:not(:last-child) {
                margin-right: 50px;
                margin-bottom: 0;
            }
        }
}

.navigation__item a {
    @include wsh (14px, 500, 1.14);
    color: $title-color;
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:$tablet) {
            padding: 32px 0;
        }
        &:hover,
        &:focus {
         color: $accent-color;
        }
        
                 &link-current {
                     color: $accent-color;
                 }
        
        
                 @media screen and (max-width: 767px) {
                     &::after {
                         display: none;
                     }
                 }
}
.navigation__list .link-current::after {
    content: '';
    display: block;
    @include sizes (100%, 4px);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: $accent-color;
}

