.project {
    padding-bottom: 60px;
    @media screen and (min-width:$desktop) {
            padding-bottom: 94px;
        }
}
.project__list {
    @media screen and (min-width:$tablet) {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
}

.project__item {
    background: $primary-color;
    box-sizing: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (max-width: 767px) {

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:$tablet) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }

    @media screen and (min-width:$desktop) {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}

.project__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

.project__content {
    flex-grow: 1;
    padding: 20px 24px;
    border-top: none;
    border: 1px solid $border-solid-color;

}

.project__name {
    @include font (18px, 700, 2, 0.06em);
    color: $title-color;
    margin-bottom: 4px;
}

.project__type {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $contacts-list-color;
}

.project__wrapper {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    @extend %absolute;
    @include sizes (100%, 100%);
    @include halffont (18px, 1.56, 0.03em);
    color: $primary-color;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 77px 24px;
    
        @media screen and (min-width: $tablet) {
            padding: 49px 24px;
        }
    
        @media screen and (min-width: $desktop) {
            padding: 63px 24px;
        }
.project__link:hover &,
.project__link:focus & {
        transform: translateY(0%);
    }
}

