.subscribe {
margin-top: 60px;
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
           margin: 60px auto;
        }
        @media screen and (min-width:$desktop) {
                     margin-left: auto;
                 }
        }
    

.subscribe__text {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 20px;

    @media screen and (min-width:$desktop) {
            text-align: left;
        }
}

.form-subscribe {
    
    @media screen and (min-width:$desktop) {
            display: flex;
        }
    
}

.subscribe-input {
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.6);
    background-color: $first-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  

    @media screen and (min-width:$tablet) {
            width: 450px;
        }
    
    @media screen and (min-width:$desktop) {
            margin: 0 12px 0 0;
            width: 358px;
        }
}