.team {
    background-color: $about-team-background-color;
}

.team__name {
    @include font (28px, 700, 1.17, 0.03em);
    text-align: center;
    color: $title-color;
    margin-bottom: 30px;

    @media screen and (min-width:$desktop) {
        @include font (36px, 700, 1.16, 0.03em);
        }
}
.team__list {
    @media screen and (min-width:$tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }

    @media screen and (min-width:$desktop) {
            display: flex;
            flex-wrap:nowrap;
            justify-content: center;
        }
}
.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $primary-color;

    @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
    }
        @media screen and (min-width:$tablet) {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }
    
        @media screen and (min-width:$desktop) {
            flex-basis: calc((100% - 4 * 30px) / 4);
        }
}
.team_img {
width: 100%;
}
.team__description {
    text-align: center;
    padding: 30px 0;
}
.team__names {
    @include font (16px, 500, 1.18, 0.03em);
    text-align: center;
    color: $title-color;
    margin-bottom: 10px;
}
.team__jobs {
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $contacts-list-color;
    margin-bottom: 16px;
}
