.team-social__list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-social__item {
    @include sizes (44px, 44px);
    background-color: $primary-color;
}

.team-social__item+.team-social__item {
    margin-left: 10px;
}

.team-social__link {
    @extend %flex;
    @include sizes (100%, 100%);
    color: $our-clients-logo-color;
    border-radius: 50%;
    background-color: $primary-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $primary-color;
    }
}

.team-social__icon {
    fill: currentColor;
}