body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary-color;
    color: $title-color;
    margin: 0;
}
.list {
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}
ul {
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding: 60px 0;

    @media screen and (min-width:$desktop) {
        padding: 94px 0;
        }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.current {
    color: $accent-color;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width:$mobile) {
        width: $mobile;
    }

    @media screen and (min-width:$tablet) {
        width: $tablet;
    }

    @media screen and (min-width:$desktop) {
        width: $desktop;
    }
}