%fixed {
    position: fixed;
    top: 0;
    left: 0;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%buttons {
    cursor: pointer;
    text-align: center;
    font-family: inherit;
}
%half-buttons {
    cursor: pointer;
    font-family: inherit;
}

%absolute {
    position: absolute;
    top: 0;
    left: 0;
}

%wrap {
    display: flex;
    flex-wrap: wrap;
}

%transition {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}