$background-color1: #ffffff;
$foreground-color1: #212121;

$background-color3: #2f303a;

$foreground-color2: #757575;
$brand-color: #2196f3;
$black-color: #000000;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$border-solid-color: #eeeeee;
$border-bottom-color: #ececec;
$background-color2: #f5f4fa;

$button: #188ce8;
$logo-color: #afb1b8;
// ------- break points -----------

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
